.post {
    &__header {
        font-weight: 500;
        font-size: 36px;
        text-align: center;
    }
    
    &__date {
        font-size: 14px;
        text-align: center;
    }

    &__content {
        margin: 30px 0;
        // margin: unset;
        // padding: unset;
        // border: unset;
        // font-weight: unset;
        // font-style: unset;
        // font-size: unset;
        // font-family: unset;
        // vertical-align: unset;
        // text-decoration: unset;
        // -webkit-box-sizing: unset;
        // -moz-box-sizing: unset;
        // box-sizing: unset;
    }
}