///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

$color-map: (
    black: #000,
    white: #fff,
    red: #ef3143,
    yellow: yellow,
    orange: #ff9948,
    facebook: #0082d5,
    twitter: #00b8ff,
    linked: #4c9bcf, 
    dark-slate-blue: #293070,
    bright-sky-blue: #00b8ff,
    dark-indigo: #0E145E,
    greenish-teal: #2ecc71,
    gray1: #a3a6b5,
    gray2: #e2dfe9,
    gray3: #e3e3e3,
    gray4: #f7f8fa,
    gray5: #a7b0bd,
    gray6: rgba(87, 91, 146, 0.28),
    gray7: #eceff4,
    gray8: #b3b4c1,
    gray9: #374355,
    gray10: #f7f7f7,
    gray11: #cdd1d9,
    gray12: #707070,
    blue1: #38417e,
    blue2: #4e5f83,
    blue3: #293070,
    blue4: rgba(41, 48, 112, 0.7),
    blue5: #1f2248,
    blue6: #2d3396,
    blue7: #0f145a,
    blue8: #13196B,
    blue9: #1c2278,
    blue10: #1b2695,
    blue11: #0c1151,
    blue12: rgba(3, 27, 78, 0.7),
    blue13: #74779b,
    // #CONSOLE COLOR THEME
    consoleNavBorder: lightgray,
    navy: rgba(3, 27, 78, 0.7),
    cobalt: #19207f,
);
