///*------------------------------------
//    #Z-INDEX-MAP
//--------------------------------------*/

$z-index-map: (
    base: 0,
    nav: 1000,
    notifications: 5000,
    mobmenu: 7500,
    overlay: 9999,
);

