<div *ngIf="news" class="news">

  <div class="news__preview" *ngFor="let preview of news">

    <div class="preview__image" routerLink="/post/{{preview.id}}">
      <img [src]="preview.previewImageLink">
    </div>

    <div class="preview__content">
      <div class="header">
        <span routerLink="/post/{{preview.id}}">
          {{preview.header}}
          <i class="material-icons" routerLink="/post/{{preview.id}}">
            keyboard_arrow_right
          </i>
        </span>
      </div>
      <div class="date">{{preview.date | date:"medium"}}</div>
      <div class="text">{{preview.previewText}}</div>
    </div>
    <div class="preview__divider"></div>
  </div>
  <!-- <div #loader>loader</div> -->
  <div *ngIf="!isAllNewsLoaded" #loader class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div *ngIf="isAllNewsLoaded" class="news__no-news-message">There is no more news</div>
</div>